<h1>New Game</h1>
<% @new_grid_array.each do |letter| %>
  <p>  <%= letter %>  </p>
<% end %>
<h1>Try to guess a word!</h1>

<form action="/score" method='post'>
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <input type="text" name="score" placeholder="guess here">
  <%= hidden_field_tag :letters, @new_grid_array %>
  <input type="submit" value="Go!">
</form>

